:root {
  --color-primary: #1da1f2;
  --color-border: #00cdff;
  --color-text: #212529;
  --color-bg: #fff;
  --color-gray: #474747;
}

html,
.home {
  height: 100%;
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-text);
  background-color: var(--color-bg);
}

.content {
  max-width: 600px;
  height: 100%;
  margin: 0 auto;
}

.main {
  text-align: left;
  width: 100%;
  max-width: 600px;
  border: 1px solid var(--color-border);
  box-sizing: border-box;
}

.main .main-header {
  width: 42.52px;
  padding: 10px;
  border-bottom: 1px solid rgb(235, 238, 240);
  display: flex;
  justify-content: left;
  align-items: center;
  box-sizing: border-box;
}

.main .main-header .logo {
  width: 50px;
  margin-right: 20px;
  vertical-align: middle;
  box-sizing: border-box;
}

.header {
  display: flex;
}

.post_form {
  text-align: left;
  width: 100%;
  max-width: 600px;
  border-left: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-bottom: 1px solid var(--color-border);
}

.post_form .input_area {
  width: calc(100% - 80px);
  flex-grow: 1;
}

.post_form input {
  width: 90%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #e6fef7;
}

.post_form textarea {
  border: 0;
  padding: 10px;
  width: 90%;
  height: 100px;
  resize: none;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
}

.input1 {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--color-border);
  padding-top: 8px;
}

.bottom-area .mb-0 {
  margin-bottom: 0 !important;
  box-sizing: border-box;
}

.bottom-area .form-control-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}

.bottom-area .form-control {
  display: block;
  width: 60%;
  padding: 0.375rem 0.75rem;
  margin-left: 30px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-text);
  background-color: var(--color-bg);
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.bottom-area .btn {
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  padding: 10px 15px;
  margin-right: 13px;
  font-size: 15px;
  border-radius: 3px;
  cursor: pointer;
  right: 15px;
  color: white;
}

.space {
  border-left: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);
}

.posts {
  max-width: 600px;
  height: 100%;
  margin: 0 auto;
}

.posts ul {
  padding: 0;
}

.posts li {
  position: relative;
  display: flex;
  border: 1px solid var(--color-border);
  padding: 20px 40px;
  list-style: none;
}

.post_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.posts li .menu_icon {
  width: 20px;
  position: absolute;
  right: 30px;
  top: 18px;
}

.posts li .menu {
  display: none;
  position: absolute;
  top: 40px;
  right: 15px;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 3px;
}

.posts li .menu a {
  text-decoration: none;
  background-color: azure;
}

.posts li .menu button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 13px;
}

.post-img {
  border-radius: 10px;
  border: 1px solid var(--color-border);
  margin-bottom: 10px;
  width: 90%;
}

.icon-list {
  display: flex;
  margin-top: 15px;
  flex-direction: column;
  width: 10%;
}

.icon-list .like-button {
  font-size: 25px;
  border: none;
  border-radius: 5px;
  width: 34px;
  height: 32px;
  color: red;
}

.icon-list .like-count {
  width: 30px;
  padding-top: 20px;
  padding-left: 10px;
  color: var(--color-gray);
}

.posts li .logo {
  width: 100%;
  flex-basis: 15%;
}

.posts li .logo img {
  width: 50%;
}

.posts li .name_body {
  flex-basis: 85%;
}

.posts li .name_body .name {
  font-weight: bold;
}

.posts li .name_body .datetime {
  color: gray;
}

@media (max-width: 500px) {
  .posts li .name_body .name {
    font-size: 20px;
  }
}

.cancel-anchor .cancel-button {
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  width: 20%;
  margin-left: 10px;
  border-radius: 3px;
  color: white;
}

#update-button {
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  width: 20%;
  border-radius: 3px;
  color: white;
}
