{% extends "base.html" %} {% block content %} {% load static %}

<section class="content">
  <div class="header">
    <img
      src="{% static 'img/techis-logo (1).png' %}"
      alt=""
      style="width: 60px"
    />
    <h3>Home</h3>
  </div>
  <!-- Input Section -->
  <section class="post_form">
    <form action="/" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="text" name="name" placeholder="name" required />
      <!-- <input name="body" placeholder="hello you r awesome!" required /> -->
      <textarea name="body" placeholder="Whta's happening?" maxlength="140" required=""></textarea>
      <input type="file" name="image" />
      <div class="input1">
        <input type="submit" value="Tweet" />
      </div>
    </form>
  </section>

  <!-- Output Post Section -->
  <section class="posts">
    <ul>
      {% for post in posts %}
      <li>
        <!-- Menu Icon -->
        <img class="menu_icon js-menu-icon" src="{% static 'img/menu.png' %}" />
        <div class="menu">
          <a href="/delete/{{ post.id }}/">Delete</a>  <br>
          <a href="/edit/{{ post.id }}">Edit</a>
        </div>

        <!-- logo img -->
        <div class="logo">
          <img src="{% static 'img/user.png' %}" />
        </div>

        <!-- post items -->
        <div class="name_body">
          <div class="name">{{ post.name}}</div>
          <div class="datetime">{{ post.created_at }}</div>
          <p>{{ post.body }}</p>

          {% if post.image.url %}
          <img
            src="{{post.image.url}}"
            style="width: 250px; height: 200px"
            alt=""
          />
          
          {% comment %} Like button {% endcomment %}
          <div>
            {% endif %}
            <a href="likes/{{ post.id }}"
              ><img src="{% static 'img/heart.png' %}" style="width: 30px"
            /></a>
            {{post.likecount}}
          </div>
          <a href="/delete/{{post.id}}"></a>
        </div>
      </li>
      {% endfor %}
    </ul>
  </section>
  <script
    src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"
  ></script>
  <script src="{% static 'js/posts.js' %}"></script>
  <script>
    $(function () {
      // Executed when js-menu-icon js clicked
      $(".js-menu-icon").click(function () {
        // $(this) : self element, namely div.js-menu-icon
        // next()  : Next to div.js-menu-icon,namely div.menu

        $(this).next().toggle();
      });
    });
  </script>
</section>

{% endblock %}
